BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: DontAlign
UseTab: Never
ColumnLimit: 110
BreakBeforeBraces: Attach
PointerAlignment: Left
DerivePointerAlignment: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
SortIncludes: Never
SortUsingDeclarations: Never
IncludeBlocks: Preserve
FixNamespaceComments: false
ReflowComments: Never
BreakStringLiterals: false
MaxEmptyLinesToKeep: 1
SeparateDefinitionBlocks: Always
BreakTemplateDeclarations: Yes
InsertNewlineAtEOF: true
